<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
         <div class="detay content">
             <h2> <%=yapilacak.baslik%> </h2> <hr>
             <div class="content">
                 <p>Oluşturulma Tarihi <%=yapilacak.createdAt %> </p>
             </div>
             <a class="sil" data-doc="<%= yapilacak._id %>">Sil</a>
         </div>
    </body>
    <script>
        const silButon = document.querySelector('a.sil');
        silButon.addEventListener('click',(e)=>{
            const endpoint = `/yapilacaklar/${silButon.dataset.doc}`;
            fetch(endpoint,{
                method: 'DELETE'
            }).then(response=>response.json()).then(data=>window.location.href=data.redirect).catch((err)=>{console.log(err);})
        })
    </script>

</html>